<div class="container">
  <h2>
    User Form Testing !</h2>
  <form action="" (ngSubmit) = "onSubmmit()" #userForm  = "ngForm">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" required [(ngModel)] = "model.firstName" #firstName = "ngModel" name="firstName">
      <div *ngIf = "firstName.touched && !firstName.valid" class="alert alert-danger">This field is required</div>
  </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" required [(ngModel)] = "model.email" #email = "ngModel" name="email">
      <div *ngIf = "email.touched && !email.valid" class="alert alert-danger">This field is required</div>
    </div>
    <div class="form-group">
      <label for="country">Country</label>
      <select name="country" id="" class="form-control" [(ngModel)] = "model.country" #country = "ngModel" name="country">
        <option value="" *ngFor="let con of countries" [value] = "con">{{con}}</option>
      </select>
    </div>
    <div class="checkbox">
      <label for=""> <input type="checkbox" name = "subcribe" [(ngModel)] = "model.subcribe" #subcribe = "ngModel"> Subcribe </label>
      <p>{{ userForm.value | json }}</p>
    </div>

    <div class="radio" *ngFor = "let method of gender">
      <label for=""><input ngModel type="radio" name="gender" id="" [value]="method.id">{{method.name}}</label>
    </div>
 
    <button type = "submit" class="btn btn-default" [disabled]  = "!userForm.form.valid">Submit</button>
    <div [hidden] = "!submitted">
      This is your information! <br>
      Your Firstname : {{model.firstName}} <br>
      Your Email : {{model.email}} <br>
      Your country : {{model.country}}<br>
      Your status : {{model.subcribe}}<br>
    </div>
  </form>
</div>