<div class="container">
  <h1>Register Form</h1>
  <form action="" [formGroup]="form" (ngSubmit) = "onSubmit()">
    <div class="form-group">
      <label for="">Username</label>
      <input type="text" class="form-control" formControlName="username">
    </div>
    <div class="form-group">
        <label for="">Username</label>
        <input type="password" class="form-control" formControlName="password"> 
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
      <div *ngIf = "!isLogin" class="alert alert-danger">
          DAng nhap eo thanh cong
      </div>
   
  </form>
</div>